body { font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 18px;sans-serif;
font-size: 18px;
letter-spacing: -1px;
word-spacing: 2px;
color: #000000;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none; }

nav {
    background-color: lightgreen;
    border-radius: 30px 30px 10px 10px;
    position: static;
    top: 100px;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    }
nav * {
    display: inline;
}

#backUp { margin-left: 48vw;  }

#space {margin-top: 100px}

a:link { text-decoration: none; color: black; } a:visited { text-decoration: none; }
a:hover { text-decoration: underline; } a:active { text-decoration: underline; }
